@model RentACar.Areas.Account.Models.ChangeUsernameViewModel

@{
    ViewBag.Title = "Change Username";
}

<div class="container">
    <div class="page-body">
        <div class="row">
            <div class="col-md-3">
                @{ Html.RenderPartial("_Menu"); }
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Change password
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("ChangeUsername", "Settings", new { area = "Account" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewUsername, new { @class = "col-xs-12 col-sm-3 col-md-2 control-label" })
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    @Html.TextBoxFor(m => m.NewUsername, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CurrentPassword, new { @class = "col-xs-12 col-sm-3 col-md-2 control-label" })
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Change username" class="btn btn-success" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}