@{
    ViewBag.Title = "Settings";
}

<div class="container">
    <div class="page-body">
        <div class="row">
            <div class="col-md-3">
                @{ Html.RenderPartial("_Menu"); }
            </div>
            <div class="col-md-9">
                @if (ViewBag.StatusMessage.Length > 0)
                {
                    <div class="alert @ViewBag.StatusClass">
                        @ViewBag.StatusMessage
                    </div>
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Change username
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="row">
                                <p>
                                    In this section you can change your username.
                                </p>
                                @Html.ActionLink("Change username", "ChangeUsername", "Settings", new { area = "Account" }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Change password
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="row">
                                <p>
                                    In this section you can change your password.
                                </p>
                                @Html.ActionLink("Change password", "ChangePassword", "Settings", new { area = "Account" }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Delete account
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <div class="row">
                                <p>
                                    In this section you can delete your account. This action is not reversible.
                                </p>
                                @Html.ActionLink("Delete account", "DeleteAccount", "Settings", new { area = "Account" }, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

