@model IEnumerable<RentACar.Models.Car>

@{
    ViewBag.Title = "Car list";
}

<div class="container">
    <div class="page-body">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="well well-lg text-center">
                    <p style="max-height: 220px;">
                        <img src="@item.ImageUrl" class="img-responsive" alt="Car image"
                         style="margin: 10px auto 20px auto; max-height: 160px; width: auto;" />
                    </p>
                    <p style="font-weight: bold;">
                        @Html.DisplayFor(modelItem => item.Brand.Name)
                        @Html.DisplayFor(modelItem => item.Model)
                    </p>
                    <p>
                        @Html.DisplayFor(modelItem => item.CostPerDay) USD per day
                    </p>
                    <p>
                        @Html.ActionLink("Select car", "Create", "Reservations", new { area = "MyRents", id = item.CarId }, new { @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        }
    </div>
</div>
