@model RentACar.Models.Rent

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="page-body">
        <div class="col-md-3">
            @{ Html.RenderPartial("_Menu"); }
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Rent details</span>
                    <span class="pull-right">
                        @Html.ActionLink("Back to List", "Index")
                    </span>
                </div>
                <div class="panel-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Bill.RentId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Bill.RentId)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Car.Model)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Car.Brand.Name)
                                @Html.DisplayFor(model => model.Car.Model)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.StartDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StartDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EndDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EndDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Car.CostPerDay)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Car.CostPerDay) $
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Paid)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Paid)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Billed)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Billed)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
