@model IEnumerable<RentACar.Models.Rent>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="page-body">
        <div class="col-md-3">
            @{ Html.RenderPartial("_Menu"); }
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Rents</span>
                </div>
                <div class="panel-body">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-striped text-center">
                            <tr>
                                <th class="text-center">
                                    @Html.ActionLink("Rent ID", "Index", new { sortOrder = ViewBag.SortById })
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Car.Model)
                                </th>
                                <th class="text-center">
                                    @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.SortByDate })
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Car.CostPerDay)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Paid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Billed)
                                </th>
                                <th class="text-center">
                                    Actions
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bill.RentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Car.Brand.Name)
                                        @Html.DisplayFor(modelItem => item.Car.Model)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Car.CostPerDay) $
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Paid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Billed)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.RentId })
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    else
                    {
                        <p class="text-center">
                            No rents yet.
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
